<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% for message in messages %}
           {{message}}
        {% endfor %}
        <form method="POST" action="login">
            {% csrf_token %}
            <h1>Sign in below</h1>
            <p>Name</p><br>
            <input type="text"  name="username"><br>

            <p>Password</p><br>
            <input type="password" name="password"><br>
            <input type="submit">

    </body>

</html>